  @import url("https://fonts.googleapis.com/css?family=Raleway|Ubuntu&display=swap");
  @import "tailwindcss";

  html{
    height: 100%;
  }
  body {
      background: #f0f2f8;
      font-family: "Raleway", sans-serif;
      margin: 0;
      padding: 0;
      height: 100%;
  }
  
  #root{height: 100%;}

  .chat-box {
      width: 100%;
      height:100%;
      background: white;
      border-radius: 10px;
      /* position: fixed; */
      bottom: 90px;
      right: 20px;
      display: flex;
      flex-direction: column;
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
  .chat-box-header {
      background: #2C50EF;
      color: #fff;
      padding: 10px;
      border-radius: 10px 10px 0 0;
      display: flex;
      justify-content: space-between;
  }
  .chat-box-body {
      flex: 1;
      background: #fafafa;
      padding: 10px;
      overflow-y: auto;
      /* flex-shrink: 0;
      height: 8vw; */
  }
  .message {
      margin: 8px 0;
      padding: 10px;
      
      font-size: 14px;
  }
  .message.bot { background: #e1e1ff; align-self: flex-start; margin-right: 10%;border-radius: 0px 8px 8px 8px;}
  .message.user { background: #c6f6d5; align-self: flex-end; margin-left: 10%;border-radius: 8px 0px 8px 8px;}
  .chat-box-footer {
    display: flex;
    gap: 8px;
    padding: 10px;
    padding-bottom: 1px;
    border-top: 1px solid #ddd;
  }
  .chat-box-footer input {
    flex: 1;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
  }

  @media (max-width: 480px) {
    .chat-box {
      width: 100%;
      right: 0;
      bottom: 0;
      border-radius: 0;
    }
  }